<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <appSettings>
    <add key ="ThemeName" value="Mega Vault"/>
    <add key ="PaytableConfig_GameList" value="[BASE_GAME];[Stage1]"/>
    <add key ="PaytableConfig_FeatureList" value="[WolfRun 5 FS];[WolfRun 10 FS];[SiberianStorm 8 FS];[SiberianStorm 16 FS];[KittyGlitter 15 FS];[KittyGlitter 20 FS];[StinkinRich 10 FS];[StinkinRich 15 FS]"/>
    <add key ="PaytableConfig_ReelCount" value="5"/>
    <add key ="ReelSectionName" value="[reel]     // reel "/>
    <add key ="BaseSSTable" value="[Base_Selective_Stacking_Table]"/>
    <add key ="WinCategory" value="// Win Category"/>
    <add key ="IP" value="10.175.5.11"/>
  </appSettings>
</configuration>
